# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springboot\spring-boot-dockerize-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
